.header {
  background: rgba(16, 16, 29, 0.9);
  position: fixed;
  width: 100%;
  z-index: 3;
  &__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0;
  }
  &__add {
    color: $blue;
  }

  &-nav__list {
    display: flex;
    flex-wrap: wrap;
  }
  &-nav__item {
    width: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    padding-bottom: 8px;
  }

  &-nav__item--active {
    color: #43abf0;
  }

  &-nav__link:hover {
    color: #43abf0;
  }

  &-nav__link:active {
    color: #43abf0;
    opacity: 0.5;
  }
}

@media (min-width: 1190px) {
  .header {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      height: 100px;
    }

    &__title {
      display: flex;
      align-items: center;
    }

    &-nav {
      width: auto;
    }

    &-nav__list {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      align-items: center;
    }

    &-nav__item {
      width: auto;
      padding-left: 60px;
    }
  }
}
